{%- assign essentials = paginator.essentials | default: site.essentials -%}
{% for essential in essentials %}
  <article>
    {% include meta.html essential=essential preview=true %}
    {{ essential.excerpt }}
    <div class="more"><a href="{{ essential.url | relative_url }}">read more</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer essentials</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older essentials »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}

