<!--{%- assign gists = paginator.gists | default: site.gists -%}
{% for gist in gists %}
  <article>
    {% include meta.html gist=gist preview=true %}
    {{ gist.excerpt }}
    <div class="more"><a href="{{ gist.url | relative_url }}">read more</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer gists</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older gists »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}-->



